*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: system-ui;

    font-weight: 600;

    list-style: none;    

}

body{

    display: flex;

    justify-content: center;

    align-items: center;
    flex-direction: column;
    position: relative;
    background-image: url(../imagenes/kimetsucel.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto ;

}
nav a:hover{
    background-color: rgb(76, 0, 255);
    
}
.log{
    text-align: center;
    padding: 12px 0;
}
ul{
    background-color: #0e0e0e;
}

nav a{
    display: block;
    padding: 12px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
nav ul{
    gap: 0 35px;

    font-size: 1rem;
}
nav{
    background: #111;
}
.contenedor {
    display: grid;
    place-content: center;
    padding: 65px;
 
}
.contenedor2 {
    display: grid;
    place-content: center;
    padding: 65px;
}
footer{
    
    width: 100%;

    position: flex;

    bottom: 0;

    left: 0;

    padding: 0.5rem 8%;

    background: #0e0e0e;

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;
   

}
a{
   text-decoration: none;
   color: rgb(233, 13, 159);
}
.iconos, .menu{

   display: flex;

   justify-content: center;

   align-items: center;

   flex-wrap: wrap;

   margin-bottom: 1rem;

  
}
.menu{

   list-style-type: none;

   font-size: 15px;
   

}

.menu-item{

   margin: 1rem 1.5rem;

   cursor: pointer;

   opacity: 0.6;
   

}
.logo{
    width: 220px;
}

.menu-item:hover{

   opacity: 1;

}

.copy{

   color: rgb(255, 255, 255);

   opacity: 0.3;

   text-align: center;

}
@media screen and (min-width: 576px){
    nav{

        display: flex;
    
        justify-content: center;
    
        align-items: center;
    
        gap: 600px;
    
        width: 100%;
    
        height: 100px;
    
        background: #111;
    
    }
    .logo{
        width: 15%;
        height: 1%;
    }
    nav .logo{
    
        font-size: 2rem;
    
        background: -webkit-linear-gradient(120deg, hsl(318, 94%, 61%),
    
         hsl(239, 69%, 51%));
    
        -webkit-background-clip: text;
    
        -webkit-text-fill-color: transparent;
    
    }
    
    ul {
    
        text-transform: uppercase;
    
    }
    
    nav ul{
    
        display: flex;
    
        justify-content: center;
    
        align-items: center;
    
        gap: 0 35px;
    
        font-size: 1.2rem;
    
        
    
    }
    
    nav a{
    
        background: -webkit-linear-gradient(120deg, hsl(187, 96%, 51%),
    
        hsl(340, 100%, 44%));
    
        -webkit-background-clip: text;
    
        -webkit-text-fill-color: transparent;
    
        text-decoration: none;
    
    }
    
    nav a:hover{
    
        border-bottom: 2px solid hsl(357, 96%, 47%);
    
    }
    .contenedor {
        display: grid;
        place-content: center;
      }
    .contenedor2 {
        display: grid;
        place-content: center;
    }
    footer{
    
        width: 100%;
    
        position: flex;
    
        bottom: 0%;
    
        left: 10%;
    
        padding: 0.5rem 8%;
    
        background: #0e0e0e;
    
        display: flex;
    
        justify-content: center;
    
        align-items: center;
    
        flex-direction: column;


    }
    a{
       text-decoration: none;
       color: rgb(235, 252, 5);
    }
    .iconos, .menu{
    
       display: flex;
    
       justify-content: center;
    
       align-items: center;
    
       flex-wrap: wrap;
    
       margin-bottom: 1rem;
    
      
    }
    .menu{
    
       list-style-type: none;
    
       font-size: 18px;
       
    
    }
    
    .menu-item{
    
       margin: 1rem 1.5rem;
    
       cursor: pointer;
    
       opacity: 0.6;
       
    
    }
    
    .menu-item:hover{
    
       opacity: 1;
    
    }
    
    .copy{
    
       color: white;
    
       opacity: 0.3;
    
       text-align: center;
    
    }

}
